NEXT_PUBLIC_SUPABASE_URL=https://toqwztcgkhhgxsoalbqb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRvcXd6dGNna2hoZ3hzb2FsYnFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzMjA2MjQsImV4cCI6MjA4OTg5NjYyNH0.nQRxPFTL5n5O-efd_LGXZdqJ4QzURteLkNTfK4r0Fb0

